name: super_res
description: "A new Flutter project."
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  tflite_flutter: ^0.12.1
  image_picker: ^1.0.4
  image: ^4.1.3
  path_provider: ^2.1.1
  gal: ^2.3.0
  permission_handler: ^12.0.1


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/esrgan.tflite
    - assets/real_esrgan.tflite
